Repository yellorg/website, pull requests merged in 2022-07, with the labels that each got.

#56 feat: add tailwind
  components/Duckies/BountyRow/index.tsx
  components/Duckies/BountyRow/styles.scss
  components/Duckies/DuckiesAffiliates/index.tsx
  components/Duckies/DuckiesAffiliates/styles.scss
  components/Duckies/DuckiesConnectModalWindow/index.tsx
  components/Duckies/DuckiesConnectModalWindow/styles.scss
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesEarnMore/styles.scss
  components/Duckies/DuckiesHero/index.tsx
  components/Duckies/DuckiesHero/styles.scss
  components/Duckies/DuckiesRedeem/index.tsx
  components/Duckies/DuckiesRedeem/styles.scss
  components/Duckies/DuckiesWrapper/index.tsx
  components/Duckies/UnloginEyes/index.tsx
  components/Duckies/UnloginEyes/styles.scss
  components/Footer/index.tsx
  components/Navbar/index.tsx
  components/Pagination/SimplePagination.scss
  components/Pagination/SimplePagination.tsx
  package-lock.json
  package.json
  postcss.config.js
  styles/components.scss
  styles/custom.scss
  styles/globals.css
  styles/theme/Navbar/navbar.scss
  tailwind.config.js
Labels: Duckies, Ready

#57 fix: polish responsive design
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesHero/index.tsx
  components/Navbar/index.tsx
Labels: Duckies, Ready

#58 fix(duckies): update duckies page content
  components/Duckies/DuckiesAffiliates/index.tsx
  components/Duckies/DuckiesHero/index.tsx
  components/Duckies/DuckiesRedeem/index.tsx
  components/Navbar/index.tsx
Labels: Duckies, Ready

#61 fix: polish head
  components/Duckies/DuckiesHero/index.tsx
Labels: WIP

#59 feat: add faq section
  .slicemachine/assets/customtypes/faq/mocks.json
  .slicemachine/assets/slices/FaqQuestion/index.stories.js
  .slicemachine/assets/slices/FaqQuestion/mocks.json
  .slicemachine/libraries-state.json
  .slicemachine/mock-config.json
  components/Duckies/DuckiesFAQ/index.tsx
  components/Duckies/DuckiesRedeem/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
  customtypes/bounties/index.json
  customtypes/faq/index.json
  customtypes/recent-bounties/index.json
  helpers/HtmlSerializer.tsx
  pages/duckies.tsx
  public/images/components/duckies/duckRiddler.png
  public/images/components/duckies/duckRiddler_back.png
  slices/FaqQuestion/default/preview.png
  slices/FaqQuestion/index.js
  slices/FaqQuestion/model.json
  slices/index.js
  styles/custom.scss
Labels: Ready

#60 feature(duckies): hide prev and next buttons on corresponding pages
  components/Pagination/SimplePagination.tsx
Labels: Duckies, Ready

#51 fix(duckies): add polygon button
  .env.example
  .env.production
  components/Duckies/DuckiesHero/index.tsx
  config/app.ts
  config/chains.json
  contracts/package-lock.json
  styles/theme/Button/button.scss
Labels: Duckies

#65 fix: fix modals and hidden ref link
  components/Duckies/BountyRow/index.tsx
  components/Duckies/DuckiesEarnMore/index.tsx
  helpers/HtmlSerializer.tsx
  styles/custom.scss
Labels: Duckies, Ready

#63 fix: add spinner to modal window
  components/Duckies/DuckiesHero/index.tsx
Labels: Duckies, Ready

#64 feat: add copied tooltip
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesHero/index.tsx
Labels: Duckies, Ready

#68 fix(duckies): default chain env config for deployment
  .env.production
Labels: bug, Duckies, Ready

#71 fix(duckies): reconnect metamask account by default
  components/Duckies/DuckiesHero/index.tsx
Labels: bug, Duckies, Ready

#69 fix: overflow of hidden link
  components/Duckies/DuckiesEarnMore/index.tsx
Labels: Duckies, Ready

#73 [FIX] correct the balance so it doesn't reflex in the current Metamask account.
  components/Duckies/DuckiesHero/index.tsx
Labels: bug, Duckies, Ready

#74 fix: set relative og image path
  pages/duckies.tsx
Labels: Duckies, Ready

#75 fix(duckies): update footer + delete unnecessary comments
  components/Footer/index.tsx
  components/IconExternalLink/index.tsx
Labels: Duckies, Ready

#70 fix: polish responsive design
  components/Duckies/DuckiesAffiliates/index.tsx
Labels: Duckies, Ready

#72 fix(duckies): deployment config
  .deploy/helm.yaml.tpl
  .env.production
Labels: bug, Duckies, Ready

#78 fix(duckies): drone env for main chain id
  .drone.yml
Labels: bug, Duckies, Ready

#84 fix: add metatags for sharable page
  components/Duckies/DuckiesHead/index.tsx
  pages/duckies.tsx
  pages/link/[token].tsx
Labels: Duckies, Ready

#85 fix: update favicon
  public/favicon.ico
Labels: Duckies, Ready

#83 feature(duckies): add recaptcha-v2 before claiming the reward
  .env.example
  components/Duckies/BountyRow/index.tsx
  components/Duckies/DuckiesAffiliates/index.tsx
  components/Duckies/DuckiesConnectModalWindow/index.tsx
  components/Duckies/DuckiesHero/index.tsx
  package.json
Labels: Duckies, Ready

#90 fix(duckies): update claim reward function logic DuckiesAffiliates
  components/Duckies/DuckiesAffiliates/index.tsx
Labels: Duckies, Ready

#91 fix: add absolute path for og images
  components/Duckies/DuckiesHead/index.tsx
Labels: Duckies, Ready

#76 feat: add authorization states for duck
  components/Duckies/DuckiesHero/index.tsx
  public/images/components/duckies/duckBigEyes.png
  styles/custom.scss
Labels: Duckies, Ready

#92 fix: proper props for metatags
  components/Duckies/DuckiesHead/index.tsx
Labels: Duckies, Ready

#94 feature(duckies): dispatch alert on error with connect socials
  components/Duckies/DuckiesWrapper/index.tsx
Labels: Duckies, Ready

#87 Feature: Update smart contract
  contracts/.openzeppelin/unknown-31337.json
  contracts/artifacts/build-info/86f1d4467137c8ede3816bf8bac4b038.json
  contracts/artifacts/contracts/Duckies.sol/Duckies.dbg.json
  contracts/artifacts/contracts/Duckies.sol/Duckies.json
  contracts/contracts/Duckies.sol
  contracts/test/Duckies.spec.ts
Labels: Ready

#97 Add polygon network flow is not initiated if to click Connect Wallet button in the referral section
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesHero/index.tsx
  hooks/useMetaMask.ts
Labels: bug, Duckies, Ready

#96 fix(duckies): make claim button unactive after captcha is expired
  components/Duckies/BountyRow/index.tsx
  components/Duckies/DuckiesConnectModalWindow/index.tsx
Labels: Duckies, Ready

#102 fix(yellow-org): set proper styles for Copyright section
  components/Footer/index.tsx
Labels: Ready

#101 fix: disable link scrolling
  components/Duckies/DuckiesEarnMore/index.tsx
Labels: Duckies, Ready

#100 fix: polish faq section
  components/Duckies/DuckiesFAQ/index.tsx
  helpers/HtmlSerializer.tsx
Labels: Duckies, Ready

#55 feature(duckies): add AdvancedInput component
  components/Duckies/AdvancedInput/index.tsx
Labels: Duckies, Ready

#105 fix(duckies): reset captcha + positioning
  components/Duckies/BountyRow/index.tsx
  components/Duckies/DuckiesAffiliates/index.tsx
  components/Duckies/DuckiesHero/index.tsx
Labels: Duckies, Ready

#109 fix(duckies): move reset captcha state to the end of function
  components/Duckies/DuckiesAffiliates/index.tsx
Labels: Duckies, Ready

#93 feat: add otp modal
  .env.example
  .slicemachine/assets/slices/Bounty/index.stories.js
  .slicemachine/assets/slices/Bounty/mocks.json
  .slicemachine/libraries-state.json
  components/Duckies/BountyRow/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
  components/Duckies/OTPModal/OTPInput.tsx
  components/Duckies/OTPModal/PhoneInput.tsx
  components/Duckies/OTPModal/index.tsx
  lib/TwilioConnector.ts
  next.config.js
  package-lock.json
  package.json
  pages/api/otp/countriesFetch.ts
  pages/api/otp/send.ts
  pages/api/otp/verify.ts
  slices/Bounty/model.json
Labels: Duckies, Ready

#110 fix(duckies): add key property for duckies prize
  components/Duckies/DuckiesPrizes/defaults.tsx
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#111 fix(duckies): refactor DuckiesPrizes component
  components/Duckies/DuckiesPrizes/defaults.tsx
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#114 fix(duckies): propely justify content in bounty table
  components/Duckies/UnloginEyes/index.tsx
Labels: Duckies, Ready

#112 fix(duckies): add responsives for DuckiesPrizes
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#118 fix: polish otp modal
  components/Duckies/OTPModal/OTPInput.tsx
  components/Duckies/OTPModal/PhoneInput.tsx
  pages/api/otp/send.ts
Labels: Duckies, Ready

#119 fix(duckies): hide scrollbar + update drop-shadow
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#113 feat: add improved social connections
  components/Duckies/DuckiesWrapper/index.tsx
  hooks/useSocialConnections.ts
Labels: Duckies, Ready

#120 fix: polish mobile status duck
  components/Duckies/DuckiesHero/index.tsx
Labels: Duckies, Ready

#107 Feature: Refactor component to avoid code duplication
  app/store.ts
  components/Duckies/BountyRow/index.tsx
  components/Duckies/DuckiesAffiliates/index.tsx
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesHero/index.tsx
  components/Duckies/DuckiesModalWindow/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
  components/Duckies/Modals/ClaimRewardModal/index.tsx
  components/Duckies/Modals/MetamaskConnectModal/index.tsx
  components/Duckies/Modals/SocialAuthModal/index.tsx
  components/Duckies/Modals/index.ts
  components/Duckies/OTPModal/index.tsx
  config/app.ts
  features/globals/globalsSlice.ts
  hooks/useAffiliates.ts
  hooks/useBounties.ts
  hooks/useMetaMask.ts
  lib/SupabaseConnector.ts
  pages/_document.tsx
Labels: Duckies, Ready

#121 fix(duckies): shadow for DuckiesPrizes
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#125 fix: prevent showing null error on logout
  lib/SupabaseConnector.ts
Labels: Duckies, Ready

#126 fix(duckies): update page content
  components/Duckies/DuckiesAffiliates/index.tsx
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesFAQ/index.tsx
  components/Duckies/DuckiesHero/index.tsx
  components/Duckies/DuckiesRedeem/index.tsx
Labels: Duckies, Ready

#124 fix: use referral reward with other quest rewards in claim all modal
  components/Duckies/Modals/ClaimRewardModal/index.tsx
  hooks/useBounties.ts
Labels: Duckies, Ready

#123 fix: prevent fetching phone for the empty wallet address
  components/Duckies/OTPModal/index.tsx
Labels: Duckies, Ready

#127 fix: move supbase calls to api
  components/Duckies/OTPModal/index.tsx
  hooks/useBounties.ts
  hooks/useSocialConnections.ts
  pages/api/otp/fetchPhoneNumber.ts
  pages/api/otp/isPhoneVerified.ts
  pages/api/socials/saveAddress.ts
  pages/api/socials/saveEmail.ts
Labels: Duckies, Ready

#132 fix: add rls to supabase
  .deploy/helm.yaml.tpl
  .drone.yml
  .env.example
  .env.production
  pages/api/otp/fetchPhoneNumber.ts
  pages/api/otp/isPhoneVerified.ts
  pages/api/otp/send.ts
  pages/api/otp/verify.ts
  pages/api/socials/saveAddress.ts
  pages/api/socials/saveEmail.ts
Labels: Duckies, Ready

#130 fix(duckies): DuckiesBanned section
  components/Duckies/DuckiesBanned/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
  pages/api/users/me.ts
  public/images/components/duckies/duckMafia.png
Labels: Duckies, Ready

#138 fix(yellow-org): hide scrollbar on page scroll
  pages/_document.tsx
Labels: Ready

#141 fix(duckies): scale DuckiesPrizes cards dependent on screen size
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#142 fix(duckies): switch to polygon network button state is not changing
  components/Duckies/Modals/MetamaskConnectModal/index.tsx
Labels: bug, Duckies

#144 fix(duckies): add missing deps for DuckiesWrapper
  components/Duckies/DuckiesWrapper/index.tsx
Labels: Duckies, Ready

#145 fix: show alert on second referral claim
  components/Duckies/Modals/ClaimRewardModal/index.tsx
  hooks/useBounties.ts
Labels: Duckies, Ready

#143 fix: set quests to default on logout
  hooks/useAffiliates.ts
  hooks/useBounties.ts
Labels: Duckies, Ready

#150 fix(duckies): add missing deps for getUserStatus
  components/Duckies/DuckiesBanned/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
Labels: Duckies, Ready

#151 fix: allow otp for several unverified phone numbers
  pages/api/otp/send.ts
Labels: Duckies, Ready

#149 fix: prevents phone api vulnerabilities
  pages/api/otp/fetchPhoneNumber.ts
  pages/api/otp/send.ts
Labels: Duckies, Ready

#153 fix(duckies): update default rpc for polygon mainnet and testnet
  config/chains.json
Labels: Duckies

#154 fix(yellow-org): add Duckies tab to navbar
  components/Navbar/navItems.js
Labels: Ready

#156 fix(duckies): update claim reward modal content
  components/Duckies/Modals/ClaimRewardModal/index.tsx
Labels: Duckies, Ready

#157 fix(duckies): update tx in-progress content
  components/Duckies/BountyRow/index.tsx
  components/Duckies/Modals/ClaimRewardModal/index.tsx
Labels: Duckies, Ready

#158 fix(duckies): upgrade responsiveness for DuckiesPrizes
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#162 fix(duckies): deprecate gyroscope support for cards
  components/Duckies/DuckiesPrizes/index.tsx
Labels: Duckies, Ready

#161 fix: rerender otp modal after account change
  components/Duckies/OTPModal/index.tsx
Labels: Duckies, Ready

#160 fix(yellow-org): delete Duckies from navbar
  components/Navbar/navItems.js
Labels: Ready

#159 fix: secure api endpoints from external access
  components/Duckies/DuckiesWrapper/index.tsx
  components/Duckies/OTPModal/PhoneInput.tsx
  components/Duckies/OTPModal/index.tsx
  helpers/withDuckiesSession.ts
  hooks/useBounties.ts
  hooks/useSocialConnections.ts
  pages/api/otp/fetchPhoneNumber.ts
  pages/api/otp/isPhoneVerified.ts
  pages/api/otp/send.ts
  pages/api/otp/verify.ts
  pages/api/socials/saveAddress.ts
  pages/api/socials/saveEmail.ts
  pages/api/users/me.ts
Labels: Duckies, Ready, QA Approved

#171 fix: remove window artefacts
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesPrizes/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
Labels: Duckies, Ready

#169 fix: polish faq scroll ux
  components/Duckies/DuckiesFAQ/index.tsx
Labels: Duckies, Ready

#170 fix(duckies): display processing modal on Claim All
  components/Duckies/Modals/ClaimRewardModal/index.tsx
Labels: Duckies, Ready

#173 fix: move captcha to separate component
  components/Duckies/BountyRow/index.tsx
  components/Duckies/Captcha/index.tsx
  components/Duckies/Modals/ClaimRewardModal/index.tsx
  hooks/useBounties.ts
Labels: Duckies, Ready

#172 feat: add backend delays for otp sending and verifying
  components/Duckies/OTPModal/PhoneInput.tsx
  components/Duckies/OTPModal/index.tsx
  config/app.ts
  pages/api/otp/send.ts
  pages/api/otp/verify.ts
Labels: Duckies, Ready

#177 fix: redirect to store on mobile when metamask is not installed
  hooks/useMetaMask.ts
Labels: Duckies, Ready

#178 fix(duckies): update og image
  public/images/og-image.png
Labels: Duckies, Ready

#180 fix: polish otp input and captcha
  components/Duckies/BountyRow/index.tsx
  components/Duckies/Captcha/index.tsx
  components/Duckies/Modals/ClaimRewardModal/index.tsx
  components/Duckies/OTPModal/OTPInput.tsx
  components/Duckies/OTPModal/index.tsx
Labels: Duckies, Ready

#179 fix: add success screen after claiming rewards
  components/Duckies/Modals/ClaimRewardModal/index.tsx
Labels: Duckies, Ready

#168 feature(duckies): add warning stripe for uat
  .drone.yml
  .env.example
  .env.production
  pages/duckies.tsx
Labels: Duckies, Ready

#183 fix: mobile metamask adding network flow
  hooks/useMetaMask.ts
Labels: Duckies, Ready

#167 fix(duckies): otp success content
  components/Duckies/BountyRow/index.tsx
  components/Duckies/OTPModal/index.tsx
Labels: Duckies, Ready

#185 fix: disabled otp submit on change of code
  components/Duckies/OTPModal/index.tsx
Labels: Duckies, Ready

#184 fix: polish success claim window
  components/Duckies/Modals/ClaimRewardModal/index.tsx
Labels: Duckies, Ready

#189 fix(duckies): update claim reward content
  components/Duckies/Modals/ClaimRewardModal/index.tsx
  hooks/useBounties.ts
Labels: Duckies, Ready

#190 fix: update info section in balance circle
  components/Duckies/DuckiesHero/index.tsx
Labels: Duckies, Ready

#195 fix: refactor api routes
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
  components/Duckies/OTPModal/PhoneInput.tsx
  components/Duckies/OTPModal/index.tsx
  helpers/hidePhoneNumbers.ts
  hooks/useBounties.ts
  hooks/useSocialConnections.ts
  pages/api/otp/fetchPhoneNumber.ts
  pages/api/private/tx/bounty.ts
  pages/api/private/tx/bountyAll.ts
  pages/api/private/tx/referral.ts
  pages/api/private/users/me.ts
  pages/api/private/users/phone/send.ts
  pages/api/private/users/phone/verify.ts
  pages/api/private/users/referralToken.ts
  pages/api/private/users/socials/saveAddress.ts
  pages/api/private/users/socials/saveEmail.ts
  pages/api/public/countries.ts
  pages/api/users/me.ts
Labels: WIP, Duckies

#194 fix(duckies): update socials for desktop Navbar
  components/Navbar/index.tsx
  public/images/icons/discord-nav-black.svg
Labels: Duckies, Ready

#196 fix(duckies): refresh og image
  components/Duckies/DuckiesHead/index.tsx
Labels: Duckies, Ready

#197 fix(duckies): repair copy to clipboard button for Android
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesHero/index.tsx
  helpers/HtmlSerializer.tsx
  package.json
Labels: Duckies, Ready

#198 refactor: change fetch with rtk query calls
  app/api.ts
  app/store.ts
  app/types.ts
  components/Duckies/DuckiesEarnMore/index.tsx
  components/Duckies/DuckiesWrapper/index.tsx
  components/Duckies/OTPModal/PhoneInput.tsx
  components/Duckies/OTPModal/index.tsx
  features/countries/countriesApi.ts
  features/phone/phoneApi.ts
  features/referral/referralApi.ts
  features/socials/socialsApi.ts
  features/transactions/transactionApi.ts
  features/users/userApi.ts
  hooks/useBounties.ts
  hooks/useSocialConnections.ts
  pages/api/v2/private/tx/bounty.ts
  pages/api/v2/private/tx/bountyAll.ts
  pages/api/v2/private/tx/referral.ts
  pages/api/v2/private/users/me.ts
  pages/api/v2/private/users/phone/send.ts
  pages/api/v2/private/users/phone/verify.ts
  pages/api/v2/private/users/referralToken.ts
  pages/api/v2/private/users/socials/saveAddress.ts
  pages/api/v2/private/users/socials/saveEmail.ts
  pages/api/v2/public/countries.ts
Labels: Duckies, Ready

#201 feat: documentation for twilio and supabase environmentals
  docs/environment/images/supabase/supabase-settings-api-section.png
  docs/environment/images/twilio/twilio-account-info-section.png
  docs/environment/supabase.md
  docs/environment/twilio.md
Labels: Duckies, Ready

#200 fix(duckies): use absolute path to og image
  components/Duckies/DuckiesHead/index.tsx
Labels: Duckies, Ready

#192 fix: update show more button in quests
  components/Duckies/BountyRow/index.tsx
Labels: Duckies, Ready

#199 feature(duckies): redirect to metamask on connect button mobile
  components/Duckies/Modals/MetamaskConnectModal/index.tsx
Labels: Duckies

#202 fix: social auth with metamask wallet app
  components/Duckies/BountyRow/index.tsx
  components/Duckies/Modals/SocialAuthModal/index.tsx
  hooks/useMetaMask.ts
  lib/SupabaseConnector.ts
  pages/auth.tsx
Labels: Duckies, Ready

#203 fix: change github link to yellorg
  components/Footer/footerItems.js
Labels: Duckies, Ready

#205 fix: make relative og path
  components/Duckies/DuckiesHead/index.tsx
Labels: Duckies, Ready

#206 fix: change propery for twitter image
  components/Duckies/DuckiesHead/index.tsx
Labels: Duckies, Ready

#208 feat: add daily and weekly quests
  app/types.ts
  components/Duckies/BountyRow/index.tsx
  components/Duckies/DuckiesAffiliates/index.tsx
  config/app.ts
  features/rewards/rewardsApi.ts
  helpers/isPeriodPassed.ts
  hooks/useBounties.ts
  pages/api/v2/private/users/rewards/getRewardsData.ts
  pages/api/v2/private/users/rewards/resetStreak.ts
  pages/api/v2/private/users/rewards/updateDaily.ts
Labels: Duckies, Ready
